form {
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: rgb(151, 13, 13);
  border: 5px solid rgba(255, 255, 255, 0.514);
  background: linear-gradient(rgb(255, 255, 255), rgba(173, 3, 3, 0.349));
}

h1 {
  color: rgb(151, 13, 13);
  text-align: center;
  font-weight: bold;
  font-size: 50px;
}

p, h3, h2, .container {
  color: rgb(151, 13, 13);
  font-weight: bold;
  font-size: 25px;
}

span {
  font-weight: bold;
  padding-left: 20px;
}

.pic {
  width: 300px;  
  height: 300px;
  border: 5px solid rgb(255, 255, 255);
  margin: auto;
  
}





li {
  text-align: center;
  padding: 50px;
  margin: 50px;
  list-style-position:inside;
  border: 5px solid rgb(255, 255, 255, 0.514);
  display:inline-block;
  background: linear-gradient(rgb(255, 255, 255), rgba(173, 3, 3, 0.349));
  vertical-align: middle;
  align-content: center;
  flex-wrap: wrap; 
}

.container {
  color: rgb(151, 13, 13);
  font-weight: bold;
  text-align: center;
}

body {
  background-image: url("https://media.architecturaldigest.com/photos/5ced629704c41e1a9b9a8bcf/master/pass/Bugatti-LVN-7%20%5BBugatti%5D.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto;
 }

/*      */